.game-interface {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    width: 50em;
    h3 {
        font-size: 1.5rem;
        color: white;
    }
    button {
        font-size: 16px;
        padding: 0.25em 1em;
    }
}

.homepage-board {
    flex-direction: column;
    align-items: center;
    order: 1;
    gap: 16px;
}
