header {
    padding: 4em 3em;
    display: flex;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 3rem;
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    button {
        position: absolute;
        text-align: center;
        font-size: 16px;
        padding: 0.25em 1em;
        cursor: pointer;
        right: 3em;
    }
}