.info {
    display: flex;
    width: 50em;
    margin-inline: auto;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
        label {
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
        }
        input {
            font-size: 16px;
            padding: 0.25em 1em;
            outline: none;
        }
        button {
            font-size: 16px;
            padding: 0.25em 1em;
        }
    }
    div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: white;
        gap: 16px;
        h3 {
            font-size: 1.5rem;
        }
        p {
            font-size: 16px;
        }
        .game-info {
            display: flex;
            justify-content: center;
        }
        .player-info {
            gap: 4px;
            display: flex;
            flex-direction: column;
            flex-basis: 20%;
        }
        .computer-info {
            gap: 4px;
            align-items: flex-end;
            flex-direction: column;
            flex-basis: 20%;
            display: flex;
        }
    }
}

.homepage-info {
    order: 2;
}


@media screen and (max-width: 850px) {
    .info {
        width: 100%;
        margin: 0;
        div {
            flex-direction: column;
            align-items: center;
            .computer-info {
                align-items: center;
            }
        }
    }   
}