@use './styles';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    background-color: #0369a1;
    width: 100%;
    height: 100vh;
}
